In [2]:
import pandas as pd
import re
from transformers import AutoTokenizer, AutoModel
import torch

## 讀檔案

In [3]:
df = pd.read_csv(r'104_programmers_jobs.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15748 entries, 0 to 15747
Data columns (total 46 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   job_id  15748 non-null  object
 1   更新日期    15748 non-null  object
 2   查詢職類    15748 non-null  int64
 3   查詢關鍵字   15748 non-null  object
 4   職務類別    15748 non-null  object
 5   職缺名稱    15748 non-null  object
 6   公司名稱    15748 non-null  object
 7   公司連結    15748 non-null  object
 8   產業別     15748 non-null  object
 9   上班地點    15748 non-null  object
 10  地區      14577 non-null  object
 11  城市      15748 non-null  object
 12  國家      15748 non-null  object
 13  薪資      15748 non-null  object
 14  薪資下限    15748 non-null  int64
 15  薪資上限    15748 non-null  int64
 16  職缺描述    15733 non-null  object
 17  職務需求    0 non-null      float64
 18  工作經歷要求  15748 non-null  object
 19  學歷要求    15748 non-null  object
 20  科系要求    8534 non-null   object
 21  擅長工具    11180 non-null  object
 22  工作技能    7569 non-null   object
 23  中文聽力    394 non-null    object
 24  中文口說    394 non-null    object
 25  中文閱讀    394 non-null    object
 26  中文寫作    394 non-null    object
 27  英文聽力    7499 non-null   object
 28  英文口說    7499 non-null   object
 29  英文閱讀    7499 non-null   object
 30  英文寫作    7499 non-null   object
 31  日文聽力    110 non-null    object
 32  日文口說    110 non-null    object
 33  日文閱讀    110 non-null    object
 34  日文寫作    110 non-null    object
 35  台語聽力    0 non-null      float64
 36  台語口說    0 non-null      float64
 37  台語閱讀    0 non-null      float64
 38  台語寫作    0 non-null      float64
 39  其他條件    11239 non-null  object
 40  福利制度    10737 non-null  object
 41  法定福利    10253 non-null  object
 42  其他福利    15005 non-null  object
 43  面試流程    0 non-null      float64
 44  職缺連結    15748 non-null  object
 45  爬取時間    15748 non-null  object
dtypes: float64(6), int64(3), object(37)
memory usage: 5.5+ MB